/* *{
  color :#090a0c;
} */
.home-header-image {
	width: 100% !important;
}

.login { 
	background: white !important;
}

.login .container {
	width: 80%;
}
.image-wrapper {
 padding:10px;
 
}
.image {
	display: block;
	width: 100%;
	height: 100%;
	height: auto;
  }
  
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .6s ease;
background-color: #d9832e;
}

  
.image-wrapper:hover .overlay {
	 opacity: 1;
	cursor: pointer;
}



.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #d9832e;
    border-color: #d9832e;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #555a64;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/* .form-group .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  font-size: 14px; } */

.custom_card {
  border-radius: 5px;
  background: #ffffff;
  padding: 5%;
}

.custom_card-p2 {
  border-radius: 5px;
  background: #ffffff;
  padding: 1% 2%;
}

.hidden {
  display: none !important;
}

a:hover {
  cursor: pointer;
}

.alert {
  width: 100% !important;
}

.mr-0 {
  margin-right: 0 !important;
}
/* a {
  color:#090a0c;
}

a:hover{
  color:#d9832e;
} */
.custom-text{
  color: #73879C;
  
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.profile-image {
  width:200px;
}

.btn-info {
  color: white !important;
}